{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="{{ url_for("profile.register") }}" method="post">
        <div>
            <label for="link">User Name: </label>
            <input type="text" id="username" name="username" value="">
        </div>
        <div>
            <label for="link">Password: </label>
            <input type="text" id="password" name="password" value="">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
{% endblock %}
